/*Estructura*/
@import "colores";
/*Titulos*/
h1 {
  color: $colorUno;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}
h2 {
  color: $colorUno;
}
h3 {
  color: $colorUno;
}
/*main*/
section {
  font-size: 20px;
  padding: 20px;
}
img {
  margin: auto;
  display: block;
}
/*animaciones*/
.boton {
  color: $colorDos;
  background-color: $fondoTres;
  transition: all 1s;
}
.boton:hover {
  border: $colorUno solid 10px;
}
.tituloAnimado {
  animation-name: tituloAnimado;
  animation-iteration-count: 1;
  animation-duration: 1s;
}
@keyframes tituloAnimado {
  from {
    transform: translate(-200px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}
/*EXTEND*/
.boton-nuevo {
  @extend .boton;
  background-color: rgb(7, 7, 49);
}
/*Mixin*/
@mixin pym($paddingg, $marginn) {
  padding: $paddingg;
  margin: $marginn;
}
.facebook {
  @include pym(5px, 5px);
}
.instagram {
  @include pym(5px, 5px);
}
.twitter {
  @include pym(5px, 5px);
}
.youtube {
  @include pym(5px, 5px);
}
/*ACLARACIÓN: se que este mixin no sirve de mucho ya que son todos los mismos valores 
pero es a modo de ejemplo porque realmente no necesito en mi proyecto uno por el momento*/
/*FOOTER*/
footer {
  background-color: $fondoDos;
  padding: 10px;
}
ul {
  li {
    padding: 10px;
  }
}
#padForm {
  padding-top: 30px;
}
.imagenFondo {
  background-image: $gradUno;
}
